
{{ad = this.ad}}
<div class="ad-window ad-image">
    {{if ad.pictures and ad.pictures.length:}}
    <a href="/classifieds/{{-ad.id}}" class="picture">
        <img src="/uploads/pictures/original/{{-ad.pictures[0].source}}" alt="picture"/>
        <div class="price">{{-ad.formatted_price}}</div>
    </a>
    {{end}}
    <div class="info">
        {{if ad.seller_type is 'business':}}
            <a href="/accounts/{{-ad.seller.id}}"><span class="profile-pic"><img src="/uploads/avatars/original/{{-ad.seller.avatarName}}" alt=""></span></a>
        {{else:}}
            <a href="/accounts/{{-ad.seller.id}}"><span class="profile-pic"><img src="/uploads/profiles/original/{{-ad.seller.avatarName}}" alt=""></span></a>
        {{end}}
        <h2><a href="/classifieds/{{-ad.id}}">{{-ad.title}}</a></h2>

        {{if ad.description:}}
        <div class="description">{{-ad.description.substr(0, 90)}}{{-if ad.description.length > 90 then '...'}}</div>
        {{end}}
        <div class="seller">

            {{if ad.seller.id:}}
            {{if ad.seller_type is 'business':}}

            <div class="seller-name">
                by <a href="/{{-ad.seller.address}}">{{-ad.seller.name}}</a>
            </div>
            {{else:}}

            <div class="seller-name">
                by <a href="/accounts/{{-ad.seller.id}}">{{-ad.seller.full_name}}</a>
            </div>
            {{end}}
            {{end}}

            {{if ad.seller.online:}}
                {{if this.myID:}}
                    <a style="background-color: rgb(0, 186, 255); !important" class="chatIdentity button live-state offline" data-user="{{-ad.seller.id}}" href="/chat/?r={{-this.myID}}&id={{-ad.seller.id}}" >Chat</a>
                {{else:}}
                    <a style="background-color: rgb(0, 186, 255); !important" href="javascript:void();" class="chatIdentity button live-state offline" data-user="' + ad.seller.id + '" data-toggle="modal" data-target="#loginModal"  >Chat</a>
                {{end}}

            {{else if this.myID:}}
            <a style="background-color: #9C9C9C; !important" class="chatIdentity button live-state offline" data-user="{{-ad.seller.id}}" href="/chat/?r={{-this.myID}}&id={{-ad.seller.id}}" >Chat</a>
            {{else:}}
            <a style="background-color: #9C9C9C; !important" href="javascript:void();" class="chatIdentity button live-state offline" data-user="' + ad.seller.id + '" data-toggle="modal" data-target="#loginModal"  >Chat</a>
            {{end}}


        </div>

    </div>

</div>
