{{comment = this.comment}}
<div class="comment">
    <div>
    <a href="/accounts/{{-comment.author}}" class="avatar">

        <img src="{{-comment.author_picture}}" style="width:40px; height:40px;">
    </a>
    </div>

    <div class="col-lg-10">
    <div class="comment-contents">

        <div class="top row">
            <div class="left">
                <a  style="font-size: small;" href="/accounts/{{-comment.author}}" class="author">{{-comment.author_name}}</a>
                <!--<div class="time" style="visibility: hidden;">-->
                    <!--{{- dates.months[new Date(parseInt(comment.time)).getMonth()]}}-->
                    <!--{{- new Date(parseInt(comment.time)).getDate() }}-->
                    <!--{{- new Date(parseInt(comment.time)).getFullYear() }}-->
                <!--</div>-->


            </div>

            {{if this.account.business:}}
                {{if this.account.business.id is comment.author:}}
                <div class="pull-right" name="business" style="padding: 12px 0 0;">

                    <a href="/posts/comment/delete?id={{-comment.id}}" class="delete" onclick="return confirm('Are you sure?');">delete</a>


                </div>
                {{end}}
            {{else if this.account.id is comment.author:}}
            <div class="pull-right" name="account" style="padding: 12px 0 0;">

                <a href="/posts/comment/delete?id={{-comment.id}}" class="delete" onclick="return confirm('Are you sure?');">delete</a>


            </div>
            {{end}}


        </div>
        <div style="font-size: small;" class="message row">{{-nl2br comment.message}}</div>

    </div>
    </div>


</div>
