 #depositStripe:active, #depositPaypal:active {
    background: #2882ff !important;
    box-shadow: 0 1px 0 rgba(0,0,0,0.1), inset 0 -2px rgba(0,0,0,0.2), inset 0 0 0 100px rgba(0,0,0,0.2) !important;
    color: #FFF ;
     /*touch-action: none !important;*/
     text-shadow: 0 1px 0 rgba(0,0,0,0.3) !important;
     box-shadow: 0 1px 0 rgba(0,0,0,0.1), inset 0 -2px rgba(0,0,0,0.2) !important;
     /*cursor: none !important;*/
     text-decoration: none ;
}
 #depositStripe:hover, #depositPaypal:hover {
    background: #2ac9ff !important;
    box-shadow: 0 1px 0 rgba(0,0,0,0.1), inset 0 -2px rgba(0,0,0,0.2), inset 0 0 0 100px rgba(255,255,255,0.2) ;
    color: #FFF ;
     /*touch-action: none !important;*/
     /*cursor: none !important;*/
    text-decoration: none ;
     text-shadow: 0 1px 0 rgba(0,0,0,0.3) !important;
     box-shadow: 0 1px 0 rgba(0,0,0,0.1), inset 0 -2px rgba(0,0,0,0.2) !important;
}

 #depositStripe, #depositPaypal {
     background: #00baff;
     color: #fff;
     display: block;
     width: 100%;
     padding: 6px !important;
     /*touch-action: none !important;*/
     font-size: 24px !important;
     /*box-shadow: none !important;*/
     border: none !important;
     text-shadow: none !important;
     border-radius: 3px !important;
     /*border-radius: 3 !important;*/
     /*cursor: none !important;*/
     text-shadow: 0 1px 0 rgba(0,0,0,0.3) !important;
     box-shadow: 0 1px 0 rgba(0,0,0,0.1), inset 0 -2px rgba(0,0,0,0.2) !important;
 }